/* Extended */
$txtcolorgreen: #00FF00;
$txtcolored: #FF0000;
%sizefnt {
    font-size: 12px;
}

.info {
    @extend %sizefnt;
}

.sucess {
    @extend %sizefnt;
    color: $txtcolorgreen;
}

.warning {
    @extend %sizefnt;
    color: $txtcolored;
}
