/* Extended */
$txtcolorgreen: #00ff00;
$txtcolored: #ff0000;
%sizefnt {
    font-size: 12px;
}

.info {
    @extend %sizefnt;
}

.success {
    @extend %sizefnt;
    color: $txtcolorgreen;
}

.warning {
    @extend %sizefnt;
    color: $txtcolored;
}
